<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Error</title>
</head>
<body>
    <div style="height: 100vh; width:100vw; display:flex; justify-content:center; align-items:center ">
        <div style="display:flex; justify-content:center; align-items:center;">
            <h3>{{titles}}</h3>
        </div>
    </div>
</body>
</html>